# 실제 사용되는 패키지만 포함
# 자동 생성됨 - requirements_analyzer.py

IPython
OpenSSL
Oracle
PyYAML
SQLAlchemy
TikTokLive
abc
aiohappyeyeballs
aiohttp
aiosignal
annotated_types
anyio
array
ast
atexit
attr
autocommand
bdb
betterproto
binascii
bisect
builtins
calendar
certifi
charset_normalizer
click
code
codecs
colorsys
compileall
concurrent
contextlib
contextvars
copyreg
cryptography
ctypes
curio
dataclasses
dateutil
decimal
deprecation
difflib
distutils
docutils
dotenv
encodings
enum
errno
fastapi
ffmpy
filelock
foo
fractions
frozenlist
getopt
getpass
gettext
google
gotrue
grpclib
gunicorn
gzip
h11
h2
heapq
hpack
https
httptools
httpx
hyperframe
hypothesis
idna
importlib
inflect
ini2toml
iniconfig
ipaddress
itsdangerous
jaraco
jinja2
js
jwt
keyword
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langgraph
linecache
locale
marshal
mashumaro
mimetypes
mmap
more_itertools
msgpack
msvcrt
multidict
mypy
netrc
ntlm
ntpath
numbers
obswebsocket
operator
optparse
orjson
outcome
packaging
path
pip
pkg_resources
pkgutil
platform
platformdirs
plistlib
pluggy
posixpath
postgrest
pprint
propcache
pstats
py
py_compile
pydantic
pydantic_core
pyee
pygments
pymongo
pyodide
pytest
pytest_mock
python_multipart
python_socks
realtime
redis
relative
reprlib
requests
rich
runpy
select
selectors
setuptools
shlex
signal
site
six
sniffio
socksio
somecode
sphinx
ssl
starlette
stat
storage3
string
struct
supabase
supafunc
tarfile
test
textwrap
the
tokenize
tomli_w
trio
twisted
typeguard
types
typing_extensions
typing_inspection
unicodedata
unittest
urllib3
uvicorn
uvloop
watchfiles
websocket
websockets
websockets_proxy
werkzeug
wheel
within
wsproto
xmlrpc
yarl
zipfile
zipimport
zipp
zlib
zoneinfo
